.parsed p {
  font-size: 15px;
  margin-bottom: 10px;
}

.parsed a {
  color: #66bfff;
  text-decoration: none;
}

/* .parsed a:visited {
  color: #551a8b;
} */

.parsed a:hover {
  text-decoration: underline;
}

.parsed br {
  display: none;
}

.parsed h3 {
  font-weight: bold;
  color: aquamarine;
}

.parsed h2 {
  font-weight: bold;
  color: red;
}
